<header class="navbar">
    <div class="brand">
        <h1>Sistema de Cine</h1>
    </div>

    <!-- Navegación declarativa con routerLink -->
    <!-- routerLinkActive agrega la clase 'active' al link de la ruta actual -->
    <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active">🏠 Inicio</a>
    <!-- *appRole — Directiva estructural: solo muestra el link si el usuario tiene rol 'admin' -->
    <!-- <a >➕ Agregar Pelicula</a> -->
    <a routerLink="/candy-bar" routerLinkActive="active">🍭 Candy Bar</a>    

    <a routerLink="/upcoming-movies" routerLinkActive="active">🔜 Proximamente</a>

    <!-- Enlaces dinámicos según el estado de autenticación -->
    @if (authService.currentUser()) {
        <a routerLink="/favourites" routerLinkActive="active">⭐ Favoritos</a>
        <a href="#" (click)="logout(); $event.preventDefault()">🚪 Cerrar Sesión</a>
    } @else {
        <a routerLink="/login" routerLinkActive="active">🔑 Iniciar Sesión</a>
    }

    </nav>
</header>